@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
}

/* Header and Nav Styles */

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10%;
  background-color: royalblue;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 40px;
}

.title {
  margin-bottom: 0px;
  font-size: 52px;
  color: whitesmoke;
}

.under-title {
  margin-top: 0px;
  font-size: 24px;
  color: whitesmoke;
}

header nav {
  margin-right: 40px;
  width: 70%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: whitesmoke;
}

nav ul li {
  list-style: none;
  cursor: pointer;
}

.active {
  color: black;
}

/* Search Styles */

.search-container {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-image: url('./assets/destination.jpg');
  background-size: cover;
  margin: 50px 75px 216px 75px;
  border: 4px solid black;
  border-radius: 50px;
}

.container-title {
  font-size: 54px;
}

.search-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 54px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.location {
  width: 80%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1px;
  resize: both;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  cursor: pointer;
}

.book-card {
  text-align: center;
  margin: 10px 10px 10px 10px;
  width: 200px;
  border: 1px solid black;
}

.book-title {

}

/* About Styles */

.about {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/cover-image.jpg');
  background-size: cover;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
}

.about-container h2 {
  font-size: 100px;
  margin-top: 100px;
}

.about-container p {
  max-width: 30%;
  font-size: 24px;
  margin-top: 200px;
  margin-left: 200px;
}

/* Contact Styles */

.contact-card {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: gray;
  margin: 50px 75px 50px 75px;
  border: 4px solid black;
  border-radius: 50px;
}

.contact-card h1 {
  font-size: 50px;
}

.contact-form {
  font-size: 24px;
  width: 60%;
}

.contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

input[type=text],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: both;
}

#form-textbox {
  width: 100%;
}

button[type=submit] {
  background-color: royalblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid black;
}

.submit:hover {
  color: black;
}

/* Sign Up and Log In Styles */

.form-container {
  display: flex;
  justify-content: space-evenly;
  height: 679px;
}

form h3 {
  font-size: 48px;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  padding: 20px;
  background-color: gray;
  margin: 50px 75px 50px 75px;
  border: 4px solid black;
  border-radius: 50px;
  height: 550px;
}

.login-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
}

input[type=login] {
  width: 30vh;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: both;
}


/* Footer Styles */

footer {
  text-align: center;
  background-color: royalblue;
  min-height: 15vh;
  position: absolute;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.github {
  font-size: 25px;
  color: whitesmoke;
}

.icon {
  font-size: 50px;
  color: black;
}